version: "3"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - "backend"
  backend:
    build: Backend
    depends_on:
      - "db"
  db:
    image: "mongo"
    ports:
      - "27017:27017"
