[GENERAL]
min_wait = 5
max_wait = 5
wait_before_click = 10
xpath_test_repetition = 2
xpath_test_depth = 3

[PROFILE]
name = daniel
mode = LOCAL

[REMOTE]
host = 192.168.0.199
exec_path_chrome = /home/seluser/Profiles

[LOCAL]
exec_path_driver = /Users/daniel/Documents/Master/ChatBot Projekt/convrt/Backend/chromedriver
exec_path_chrome = /Users/daniel/Library/Application Support/Google/Chrome/Default


