[GENERAL]
min_wait = 5
max_wait = 5
wait_before_click = 10
xpath_test_repetition = 2
xpath_test_depth = 3

[PROFILE]
name = daniel
mode = REMOTE

[REMOTE]
host = host.docker.internal
exec_path_chrome = /home/seluser/profiles

[LOCAL]
exec_path_driver = ~/Documents/Master/ChatBot Projekt/convrt/Backend/chromedriver
exec_path_chrome = ~/Library/Application Support/Google/Chrome/Default


